@import "tailwindcss";

:root {
    --bg-color: #dcd9d2;
    --text-main: #0E0E0E;
    --nav-bg: #7C6C58;
    --accent-color: #B8A18A;
    --font-body: 'Merriweather', serif;
    --font-heading: 'Playfair', serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

.font-playfair {
    font-family: var(--font-heading);
}

.font-merriweather {
    font-family: var(--font-body);
}

/* Lenis Recommended CSS */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* Adjust based on duplication count (e.g., -50% for 2 sets, -33.33% for 3 sets) */
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}